//Mixins

@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

//Breakpoints
@mixin sm {
	@media screen and (min-width: 375px) {
		@content;
	}
}

@mixin md {
	@media screen and (min-width: 768px) {
		@content;
	}
}
